<ul>
  <li><a href="#home">Inicio</a></li>
  <li><a href="#news">Item1</a></li>
  <li class="dropdown">
    <a href="#news" class="dropbtn">Item2</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
  <li class="login-button"><a>Login</a></li>
  <li class="dropdown">
      <a href="#news" class="dropbtn">Item3</a>
      <div class="dropdown-content">
        <a *ngFor = "let item of arrItem">{{item}}</a>        
      </div>
    </li>  
</ul>
<p>
  menu works!
</p>
